Repository hmcts/fact-api, pull requests merged in 2020-09, with the labels that each got.

#8 Move from Reform to DTS
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/dts/fact/Application.java
  src/main/java/uk/gov/hmcts/dts/fact/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/RootController.java
  src/test/java/uk/gov/hmcts/dts/fact/DemoUnitTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-8

#11 Add infrastructure for database
  charts/fact-api/Chart.yaml
  charts/fact-api/values.preview.template.yaml
  charts/fact-api/values.yaml
  infrastructure/main.tf
Labels: ns:fact, prd:fact, rel:fact-api-pr-11

#12 CTF-46: Add api endpoint stubs
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/dts/fact/controllers/deprecated/CourtsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchControllerTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchController.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-12

#13 CTF-43: Add flyway
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.preview.template.yaml
  charts/fact-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/FlywayConfigurationTest.java
  src/main/java/uk/gov/hmcts/dts/fact/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/.gitkeep
  src/test/java/uk/gov/hmcts/dts/fact/data/migration/FlywayNoOpStrategyTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-13

#16 Ctf 44 add docker database
  docker-compose.yml
  docker/database/Dockerfile
Labels: ns:fact, prd:fact, rel:fact-api-pr-16

#19 Update test to junit5
  build.gradle
  src/test/java/uk/gov/hmcts/dts/fact/data/migration/FlywayNoOpStrategyTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-19

#23 Ctf 51 populate database
  docker/database/Dockerfile
  src/main/resources/db/migration/V001__Init.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-23

#20 Add implementation for /courts endpoint
  build.gradle
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/dts/fact/ApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/FlywayConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/controllers/deprecated/CourtsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/aylesbury-magistrates-court-and-family-court.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Contact.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtEmail.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/OpeningTime.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/SlugNotFoundException.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Contact.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtEmail.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/model/OpeningTime.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/deprecated/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-20

#26 CTF-58: Add functional test
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-26

#27 CTF-58: Archive test reports
  Jenkinsfile_CNP
Labels: ns:fact, prd:fact, rel:fact-api-pr-27
