Repository hmcts/fact-api, pull requests merged in 2020-11, with the labels that each got.

#72 Fact 66 update court general
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneral.java
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtGeneralTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/resources/birmingham-civil-and-family-justice-centre-general.json
  src/test/resources/courts.json
  src/test/resources/full-birmingham-civil-and-family-justice-centre-entity.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-72

#78 Fix sonar error
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-78

#76 Add role validation
  src/functionalTest/java/uk/gov/hmcts/dts/fact/OAuthClient.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/security/SecurityConfigurationTest.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/Role.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/RoleAspect.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/RolesProvider.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SpringRolesProvider.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/test/java/uk/gov/hmcts/dts/fact/config/security/RoleAspectTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-76

#75 FACT-168:Add service slug
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceRepositoryTest.java
  src/integrationTest/resources/service.json
  src/integrationTest/resources/services.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/ServicesController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Service.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Service.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/ServiceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/ServiceService.java
  src/main/resources/db/migration/V010__add_service_slug.sql
  src/test/java/uk/gov/hmcts/dts/fact/config/security/RoleAspectTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServicesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceServiceTest.java
  src/test/resources/service-areas.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-75

#80 FACT 94 include super admin in role check
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/OAuthClient.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/Role.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/RoleAspect.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/config/security/RoleAspectTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-80

#81 What have I done
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-81

#85 Add auth tests
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/OAuthClient.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/RoleAspect.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SpringRolesProvider.java
  src/test/java/uk/gov/hmcts/dts/fact/config/security/RoleAspectTest.java
  src/test/java/uk/gov/hmcts/dts/fact/config/security/SpringRolesProviderTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-85

#86 remove duplicate test
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-86

#87 remove postal addresses from search
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-87

#88 FACT-183: Welsh translations
  src/main/resources/db/migration/V011__service_add_welsh.sql
  src/main/resources/db/migration/V012__servicearea_add_welsh.sql.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-88

#92 Service area court mapping 2
  src/functionalTest/java/uk/gov/hmcts/dts/fact/ServiceAreaEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceRepositoryTest.java
  src/integrationTest/resources/service-area.json
  src/integrationTest/resources/service.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/ServiceAreasController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Service.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceAreaCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/ServiceAreaService.java
  src/main/resources/db/migration/V013__add_servicearea_court.sql
  src/main/resources/db/migration/V014__add_servicearea_slug.sql
  src/main/resources/db/migration/V015__add_service_servicearea_link.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServiceAreasControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaCourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceAreaServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-92

#93 Add missing fields
  src/integrationTest/resources/service.json
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-93

#97 Add logging for mapit calls
  src/main/java/uk/gov/hmcts/dts/fact/config/appinsights/DependencyProfiler.java
  src/main/java/uk/gov/hmcts/dts/fact/config/appinsights/DependencyProfilerAspect.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitClient.java
  src/test/java/uk/gov/hmcts/dts/fact/config/appinsights/DependencyProfilerAspectTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-97

#98 Fact 81 add national court
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/main/resources/db/migration/V016__add_national_court.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-98

#99 add missing courts
  src/main/resources/db/migration/V017__add_missing_courts.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-99

#100 Link service areas to national service centres
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/integrationTest/resources/service.json
  src/main/resources/db/migration/V018__add_national_courts_to_service_areas.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-100

#101 update stafford
  src/main/resources/db/migration/V019__update_stafford_in_person.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-101

#105 Link service areas to areas of law
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/integrationTest/resources/service.json
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/main/resources/db/migration/V020__add_servicearea_areaoflaw_link.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceAreaServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-105

#106 add missing court contact details
  src/main/resources/db/migration/V021__add_court_details.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-106

#107 Default to in-person court
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/resources/db/migration/V022__add_in_person_data.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-107

#108 add civil partnership
  src/main/resources/db/migration/V023__add_civil_partnership_to_court_mapping.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-108

#110 Add serviceareas text
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/main/resources/db/migration/V024__add_service_text.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-110

#114 Add type for ServiceArea
  src/integrationTest/resources/service.json
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/main/resources/db/migration/V025__add_servicearea_type.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-114

#115 Add minorcrimes servicearea text
  src/main/resources/db/migration/V026__add_minorcrimes_service_text_.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-115

#116 Update text to include the rest of the dynamic sentence
  src/main/resources/db/migration/V027__edit_service_text.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-116

#112 Fail gracefully if error or no coordinates from mapit
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/LoggingConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
  src/main/java/uk/gov/hmcts/dts/fact/config/LoggingConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/Coordinates.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/test/java/uk/gov/hmcts/dts/fact/mapit/CoordinatesTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/MapitServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-112

#117 Add online url
  src/integrationTest/resources/service.json
  src/main/resources/db/migration/V028__add_onlineurl_for_civil_partnership_.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-117

#120 Increase test coverage
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-120

#121 Add slug to general admin json
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneral.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtGeneralTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-121

#124 Add courts to servicearea
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/integrationTest/resources/service-area.json
  src/integrationTest/resources/service.json
  src/main/resources/db/migration/V029__add_courts_to_servicearea.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-124

#123 Fact 137 postcode aol search
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistanceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-123

#129 Update base java chart for autoscaling
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-129

#128 FACT-214: Add local authority mapit postcode lookup
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/Coordinates.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitClient.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitData.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/test/java/uk/gov/hmcts/dts/fact/mapit/CoordinatesTest.java
  src/test/java/uk/gov/hmcts/dts/fact/mapit/MapitDataTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/MapitServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-128

#131 fact 138 - include query for civil path
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtPostcode.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-131

#132 Add local authority query
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-132

#134 Add catchment type
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/resources/db/migration/V030__add_catchment_method_to_servicearea.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-134

#133 Postcode logic
  README.md
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtPostcode.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-133

#135 make autowired beans constructor params
  src/main/java/uk/gov/hmcts/dts/fact/config/security/RoleAspect.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/ServiceAreasController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/ServicesController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/ServiceAreaService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/ServiceService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-135

#136 Clean up
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-136

#137 Add test
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitData.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/main/resources/db/migration/V031__add_constraint _to_catchment_method.sql
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/MapitServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-137

#138 Add regional local authority proxmity search
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByCourtPostcodeAndAreaOfLawSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByPostcodeAndAreaOfLawSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestTenByAreaOfLawAndLocalAuthoritySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/PostcodeSearchForServiceAreaFactory.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/Search.java
  src/main/resources/db/migration/V032__add_regional_court_to_local_authority_link.sql
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByCourtPostcodeAndAreaOfLawSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByPostcodeAndAreaOfLawSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestTenByAreaOfLawAndLocalAuthoritySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/PostcodeSearchForServiceAreaFactoryTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-138

#139 Fix regional local authority search
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearch.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistanceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearchTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-139

#140 Add ServiceAreaWithCourtReferencesWithDistance
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaWithCourtReferencesWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaWithCourtReferencesWithDistanceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-140

#141 Fix functional search test
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-141

#144 Fix sonar issues
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistance.java
  src/test/java/uk/gov/hmcts/dts/fact/config/security/RoleAspectTest.java
  src/test/java/uk/gov/hmcts/dts/fact/mapit/MapitDataTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtGeneralTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-144

#145 Fix deprecated sonar issues
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-145

#146 set cpu mem levels
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-146

#148 civil-postcode-fix
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByCourtPostcodeAndAreaOfLawSearch.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-148

#150 changing decimal place to 1
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistanceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-150

#147 Refactor postcode search logic
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/CivilSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/DefaultSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FallbackProximitySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FamilyNonRegionalSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FamilyRegionalSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FamilySearchFactory.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByCourtPostcodeAndAreaOfLawSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByPostcodeAndAreaOfLawSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/NearestTenByAreaOfLawAndLocalAuthoritySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/PostcodeSearchForServiceAreaFactory.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/Search.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/ServiceAreaSearchFactory.java
  src/test/java/uk/gov/hmcts/dts/fact/entity/ServiceAreaTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTypeTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/CivilSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/DefaultSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FallbackProximitySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FamilyNonRegionalSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FamilyRegionalSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FamilySearchFactoryTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByCourtPostcodeAndAreaOfLawSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestCourtsByPostcodeAndAreaOfLawSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestRegionalByAreaOfLawAndLocalAuthoritySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/NearestTenByAreaOfLawAndLocalAuthoritySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/PostcodeSearchForServiceAreaFactoryTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/ServiceAreaSearchFactoryTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-147

#152 Fact 224 prod data
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/main/resources/db/migration/V034__drop_tables.sql
  src/main/resources/db/migration/V035__prod_data.sql
  src/main/resources/db/migration/V036__fix_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-152

#154 FACT_224: fix inperson table
  README.md
  src/main/resources/db/migration/V037__fix_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-154

#155 Update Chart.yaml
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-155

#159 Add tests for uncovered logic
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/ServiceAreaEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/ServiceEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/util/CourtAddressTypeConverter.java
  src/test/java/uk/gov/hmcts/dts/fact/config/LocaleResolverTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServiceAreasControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServicesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/CourtAddressTypeConverterTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-159

#160 FACT_244: Add sort order to service areas
  src/functionalTest/java/uk/gov/hmcts/dts/fact/ServiceEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Service.java
  src/main/resources/db/migration/V038__add_sort_order.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-160

#163 FACT-255: prod data
  src/main/resources/db/migration/V040__drop_tables.sql
  src/main/resources/db/migration/V041__prod_data.sql
  src/main/resources/db/migration/V042__set_displayed_flag_for_service_centres.sql
  src/main/resources/db/migration/V043__fix_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-163

#165 Fact 220 aol display name
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AreaOfLaw.java
  src/main/resources/db/migration/V044__add_display_name_to_areaoflaw.sql
  src/main/resources/db/migration/V045__add_display_url_to_areaoflaw.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/AreaOfLawTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-165

#168 Add regional centres and fix adoption catchment type
  src/main/resources/db/migration/V046__update_service_area_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-168

#166 Fact 245 info with html
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-166

#169 FACT-237:translate address type
  src/integrationTest/resources/deprecated/aylesbury-magistrates-court-and-family-court.json
  src/main/java/uk/gov/hmcts/dts/fact/entity/AddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/resources/db/migration/V047__add_translation_for_address_type.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/CourtAddressTypeConverterTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-169

#170 FACT-257: partial postcode searches
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/CivilSearch.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/CivilSearchTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-170

#167 Add endpoint to update all courts info
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneral.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtInfoUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-167

#174 fact 94 - clean up
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneral.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtGeneralTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-174

#175 FACT-246 order facilities by facility types
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldFacility.java
  src/main/resources/db/migration/V048__add_facility_to_facility_type_mapping.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-175

#176 FACT-257: partial postcode searches use exact match
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-176

#177 FACT-93: closed courts and access scheme flags
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneral.java
  src/main/java/uk/gov/hmcts/dts/fact/services/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtGeneralTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-177
