Repository hmcts/fact-api, pull requests merged in 2020-10, with the labels that each got.

#30 Add some more coverage
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtEmail.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtEmailTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-30

#31 Ctf 41 search
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/resources/courts.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReference.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-31

#32 Ctf 41 clean up
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-32

#35 Ctf 50 add postgres extensions
  charts/fact-api/Chart.yaml
  charts/fact-api/values.preview.template.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-35

#37 CTF-50: Add flyway to create database extensions in aat
  src/main/resources/db/migration/V002__earthdistance.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-37

#38 CTF-50: Add mapit integration
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/FeignConfigurationTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/dts/fact/Application.java
  src/main/java/uk/gov/hmcts/dts/fact/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitClient.java
  src/main/java/uk/gov/hmcts/dts/fact/services/model/Coordinates.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-38

#43 Ctf 50 search endpoint add search by address
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-43

#46 Fix docker image
  docker-compose.yml
Labels: ns:fact, prd:fact, rel:fact-api-pr-46

#47 Ctf 45 view selected court details
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/resources/birmingham-civil-and-family-justice-centre.json
  src/integrationTest/resources/deprecated/aylesbury-magistrates-court-and-family-court.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/deprecated/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Contact.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/InPerson.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/OpeningTime.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress2.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Filters.java
  src/main/resources/db/migration/V003__in_person.sql
  src/main/resources/db/migration/V004__service_area.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/FiltersTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-47

#51 Add dummy variable for mapit key
  docker-compose.yml
Labels: ns:fact, prd:fact, rel:fact-api-pr-51

#53 Strip urlencoded areaoflaw
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-53

#50 FACT-119: Support Welsh search criteria
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-50

#54 Added oauth api auth
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/AuthException.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/OAuthClient.java
  src/main/java/uk/gov/hmcts/dts/fact/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-54

#52 mapit test
  src/integrationTest/java/uk/gov/hmcts/dts/fact/services/MapitClientTest.java
  src/main/java/uk/gov/hmcts/dts/fact/Application.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/Coordinates.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitClient.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-52

#56 Update sups
  config/owasp/suppressions.xml
Labels: ns:fact, prd:fact, rel:fact-api-pr-56

#55 Add appinsights
  src/integrationTest/java/uk/gov/hmcts/dts/fact/ApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/config/SwaggerPublisherTest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-55

#57 Fact 65 view all courts
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/resources/courts.json
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReference.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-57

#63 Improve quality gate
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReference.java
  src/test/java/uk/gov/hmcts/dts/fact/config/LocaleResolverTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-63

#64 tidy up
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServicesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/data/migration/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-64

#66 FACT-143: Add welsh to services endpoint
  src/main/java/uk/gov/hmcts/dts/fact/entity/Service.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Service.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceArea.java
  src/main/resources/db/migration/V008__add_welsh_to_servicea_and_servicearea.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceAreaTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-66

#68 Access scheme
  src/main/resources/db/migration/V009__add_access_scheme.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-68

#71 Access scheme 2
  src/main/java/uk/gov/hmcts/dts/fact/entity/InPerson.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourt.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-71
