Repository hmcts/fact-api, pull requests merged in 2021-09, with the labels that each got.

#460 FACT-167 Added new endpoints to allow read, create, update and deletion of Facility Types.
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminFacilitiesEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminFacilitiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/FacilityRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminFacilityService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminFacilitiesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminFacilityServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-460

#463 Fact 932
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-463

#475 sonarqube fix...
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-475
