Repository hmcts/fact-api, pull requests merged in 2021-11, with the labels that each got.

#501 fact api testing enhancements
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/AdminFunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
Labels: ns:fact, prd:fact, rel:fact-api-pr-501

#499 Fact 932
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/ImageFile.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-499

#497 Created migration to amend facilities dropdown options
  src/integrationTest/resources/birmingham-civil-and-family-justice-centre.json
  src/integrationTest/resources/deprecated/aylesbury-magistrates-court-and-family-court.json
  src/main/resources/db/migration/V135__amend_facilities_dropdown_options.sql
  src/test/resources/full-birmingham-civil-and-family-justice-centre-entity.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-497

#503 Changed service area name from 'fgm' to 'fgm protection orders'
  src/main/resources/db/migration/V136__amend_service_area_name.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-503

#507 checking in opening types list endpoints
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminOpeningTypeEndPointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminOpeningTypeController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/OpeningType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/OpeningTimeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminOpeningTypeService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V137__add_admintype_entries_for_opening_type.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminOpeningTypeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminOpeningTypeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-507

#513 removing opening types old endpoint
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtOpeningTimeEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtOpeningTimeController.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtOpeningTimeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtOpeningTimeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-513

#519 Fact 928 update3
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.aat.template.yaml
  charts/fact-api/values.preview.template.yaml
  charts/fact-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtPostcodeEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminLocalAuthoritiesEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/AdminFunctionalTestBase.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/FunctionalTestBase.java
  src/functionalTest/resources/application.properties
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/dts/fact/controllers/ServicesControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-519
