Repository hmcts/fact-api, pull requests merged in 2021-12, with the labels that each got.

#523 updating aat chart to get azure postgres db secrets
  charts/fact-api/Chart.yaml
  charts/fact-api/values.aat.template.yaml
  charts/fact-api/values.preview.template.yaml
  charts/fact-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-523

#520 Batch update of court latitude and longitudes
  src/main/resources/db/migration/V138__batch_update_court_locations.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-520

#530 checking sonarqube
  README.md
  src/main/java/uk/gov/hmcts/dts/fact/util/RepoUtils.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/util/RepoUtilsTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-530

#527 adding spoe logic change for children area of law
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistanceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-527

#528 Fact 175
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/NewCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V139__add_admintype_entries_for_creating_court.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-528

#535 Fact 872 2
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtGeneralInfoEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-535

#540 FACT-872: Fixing bug
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-540

#538 added delete court endpoint, and new changes for story
  README.md
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/InPerson.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/NewCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V139__add_admintype_entries_for_creating_court.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-538

#544 updates to accept lon and lat
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/NewCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-544
