Repository hmcts/fact-api, pull requests merged in 2021-10, with the labels that each got.

#455 Fact 706 auditing
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminAreasOfLawEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminAuditController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Audit.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AuditType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Audit.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AuditTypeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminAuditService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAdditionalLinkService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAreasOfLawService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtContactService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtEmailService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtLocalAuthoritiesService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtOpeningTimeService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtTypesService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminLocalAuthorityService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V129__add_auditing_tables.sql
  src/main/resources/db/migration/V130__migrate_DX_codes_to_new_table.sql
  src/main/resources/db/migration/V131__single_point_entry_table_and_data.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminAuditControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminAuditServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAdditionalLinkServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAreasOfLawServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtContactServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtEmailServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtLocalAuthoritiesServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtOpeningTimeServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtTypeServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminLocalAuthorityServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-455

#476 Fix migrations version
  src/main/resources/db/migration/V129__migrate_DX_codes_to_new_table.sql
  src/main/resources/db/migration/V130__single_point_entry_table_and_data.sql
  src/main/resources/db/migration/V131__add_auditing_tables.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-476

#453 adding Contact types list
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminContactTypeEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/util/FunctionalTestBase.java
  src/main/java/uk/gov/hmcts/dts/fact/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminContactTypeController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ContactType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/ContactRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminContactTypeService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminContactTypeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminContactTypeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-453

#471 removing old court types endpoints
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtTypesEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtTypesController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtTypesService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtTypesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtTypeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-471

#485 Audit test fix
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-485
