Repository hmcts/fact-api, pull requests merged in 2021-08, with the labels that each got.

#422 FACT-842 - Add money claims area of law to Taunton County Court and Isle of Wight Combined Court
  src/main/resources/db/migration/V118__add_money_claims_to_courts.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-422

#418 Adding Court Facilities end points
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtFacilityEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminFacilitiesEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtFacilityController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminFacilitiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtFacility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtFacilityRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/FacilityTypeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminFacilityService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtFacilityControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminFacilitiesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminFacilityServiceTest.java
  src/test/resources/facilities.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-418

#420 FACT-826 - Implement CRUD endpoints for per court Areas of Law
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAreaOfLawEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminAreasOfLawEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtAreaOfLawRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AreasOfLawRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtAreaOfLawRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAreasOfLawService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAreasOfLawServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawServiceTest.java
  src/test/resources/court-areas-of-law.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-420

#423 FACT-840 - Admin update in-person court coordinates using Mapit for primary address postcode
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressController.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitData.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/PostcodeValidator.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/ValidationService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/PostcodeValidatorTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/ValidateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-423

#426 FACT-856 adding migrations for content changes
  src/main/resources/db/migration/V119__batch_court_changes_20.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-426

#427 FACT-806 - Add breathing space to database for in-person county courts
  src/main/resources/db/migration/V120__add_breathing_space_sidebar_for_county_courts.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-427

#428 adding domestic violance to peterborough
  src/main/resources/db/migration/V121__batch_court_amendment.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-428

#433 FACT-881 - Move Financial Remedy and Business and Property into area of law table
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/resources/db/migration/V122__make_additional_link_per_court.sql
  src/main/resources/db/migration/V123__move_additional_links_to_area_of_law_table.sql
  src/test/java/uk/gov/hmcts/dts/fact/entity/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/AreaOfLawTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-433

#429 mapit-key-fix - Attempt to fix mapit-key not being used in build stage
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-429

#436 FACT-883 - Remove obsolete sidebar location from entity and model
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/SidebarLocation.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AdditionalLink.java
  src/main/resources/db/migration/V124__drop_sidebar_location.sql
  src/test/java/uk/gov/hmcts/dts/fact/entity/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-436

#438 Suppressed CVE temporarily
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/dts/fact/config/FeignConfiguration.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-438

#440 Spring boot upgrade
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.aat.template.yaml
  charts/fact-api/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-440

#442 Spring boot upgrade pt. 2
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-442

#443 Spring boot revert
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.aat.template.yaml
  charts/fact-api/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-443

#444 FACT-904 - Remove single justice procedure from Peterborough Combines Court Centre
  src/main/resources/db/migration/V125__remove_single_justice_from_peterborough_court.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-444

#437 FACT-806 - Add admin endpoints for retrieving and updating additional links
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAdditionalLinkEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtAdditionalLinkRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAdditionalLinkController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtAdditionalLinkRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAdditionalLinkService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAdditionalLinkControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAdditionalLinkServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-437

#445 FACT-885 - Sort facilities based on the sort order of the type before returning through the admin endpoints
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtFacilityEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-445

#446 FACT-848 Added create, read and update endpoints for editing areas of law
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAreaOfLawEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminAreasOfLawEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/NotFoundException.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawService.java
  src/main/resources/db/migration/V126__remove_unused_columns_from_search_areaoflaw.sql
  src/main/resources/db/migration/V127__decode_aol_external_link_urls.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/AreaOfLawTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-446

#448 FACT-848 - Re-add external_link_cy for Area of Law table
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AreaOfLaw.java
  src/main/resources/db/migration/V128__add_external_link_cy_back_into_aearch_area_of_law.sql
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-448
