Repository hmcts/fact-api, pull requests merged in 2021-03, with the labels that each got.

#233 FACT-359 - Upgraded from Spring Boot 2.3.6.RELEASE to 2.3.9.RELEASE
  build.gradle
Labels: ns:fact, prd:fact, rel:fact-api-pr-233

#236 FACT-361 - Implemented changes for go-live requirements
  src/main/resources/db/migration/V011__service_add_welsh.sql
  src/main/resources/db/migration/V014__add_servicearea_slug.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-236

#237 FACT-361 - Reverted bad flyway transformation and added new translations to new transformation
  src/main/resources/db/migration/V011__service_add_welsh.sql
  src/main/resources/db/migration/V014__add_servicearea_slug.sql
  src/main/resources/db/migration/V067__update_welsh_translations.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-237

#238 FACT-276 - Merged in new CTF prod data
  src/main/resources/db/migration/V068__drop_tables.sql
  src/main/resources/db/migration/V069__prod_data.sql
  src/main/resources/db/migration/V070__fix_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-238

#241 FACT-357 - Fixed issues with missing service area on certain not-in-person courts.
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/main/resources/db/migration/V071__fix_court_service_areas.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-241

#243 FACT-368 - Fixed incorrect/out-of-date data existing in prod data
  src/main/resources/db/migration/V072__fix_incorrect_data.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-243

#245 FACT-357 - Reverted changes introduced in previous fix
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/main/resources/db/migration/V073__remove_servicearea_ocmc_ccbc.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-245

#251 FACT-375 - Add custom health check for mapit and incorporate that into existing healthcheck
  src/integrationTest/java/uk/gov/hmcts/dts/fact/ApplicationTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapItService.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitClient.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitHealthIndicator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dts/fact/mapit/MapitHealthIndicatorTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-251

#249 FACT-378 - Fixed issues with local authority not being taken into account on deprecated search endpoint
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-249

#255 FACT-365 - Fixed issues with Scottish and Northern Irish postcode search results not filtered on the deprecated search endpoint
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceAreaType.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-255

#254 FACT-364 - Updated deprecated endpoint to make use of new exception for invalid postcodes
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/InvalidPostcodeException.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-254

#256 FACT-384 - Added flyway transformation to set alert message for bradford & keighley magistrates court
  src/main/resources/db/migration/V074__update_bradford_magistrates_alert.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-256
