Repository hmcts/fact-api, pull requests merged in 2021-07, with the labels that each got.

#381 FACT-700 - Create a new table in the database for application update info
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/util/ElementFormatter.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtForDownload.java
  src/main/resources/db/migration/V111__add_new_table_for_application_update.sql
  src/test/java/uk/gov/hmcts/dts/fact/entity/util/ElementFormatterTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/ApplicationUpdateTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtForDownloadTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/EmailTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-381

#380 FACT-703 - Add new endpoint to move postcodes to a different court
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtPostcodeEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtPostcodeRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtPostcodeController.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtPostcodeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtPostcodeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-380

#387 FACT-684 - Create new database tables for additional links in FaCT "find out more about" section
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/resources/db/migration/V112__add_new_table_for_find_out_more.sql
  src/test/java/uk/gov/hmcts/dts/fact/entity/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-387

#386 returning displayed value with court reference object
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReference.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-386

#388 FACT-188 Add new endpoints for getting and updating local authorities
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminLocalAuthoritiesEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/mapit/MapitClientTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminLocalAuthoritiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/DuplicatedListItemException.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/IllegalListItemException.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitArea.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitClient.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/LocalAuthority.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/LocalAuthorityRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminLocalAuthorityService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/LocalAuthorityValidator.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/ValidationService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminLocalAuthoritiesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/MapitServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminLocalAuthorityServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/LocalAuthorityValidatorTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/ValidateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-388

#395 CVE-2021-33037-Patch - Force upgrade apache Tomcat transitive dependency versions to 9.0.48
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:fact, prd:fact, rel:fact-api-pr-395

#396 FACT-188 Fix bug in local authority duplication check to use correct integer equality.
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminLocalAuthorityService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-396

#397 FACT-768 - Add Financial Remedy to FaCT database
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/SidebarLocation.java
  src/main/java/uk/gov/hmcts/dts/fact/model/AdditionalLink.java
  src/main/resources/db/migration/V113__add_financial_remedy_links.sql
  src/test/java/uk/gov/hmcts/dts/fact/entity/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/AdditionalLinkTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-397

#400 FACT-783 Remove redundant GET local authorities endpoint from edit court API.
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtLocalAuthoritiesEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtLocalAuthoritiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtLocalAuthoritiesService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtLocalAuthoritiesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtLocalAuthoritiesServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-400

#404 FACT-751- Batch court content changes - Add money claims, add Business and Property sidebar link, and add Financial Remedy e-mail type
  src/main/resources/db/migration/V114__batch_court_changes_19.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-404

#410 FACT-821 - Return email, phone number and opening types in alphabetical order so they appear as such in the admin portal dropdown
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtContactService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtEmailService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtOpeningTimeService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtContactServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtEmailServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtOpeningTimeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-410

#411 FACT-749 - Content changes : Add new 'Write to us' address for Ipswich County Court
  src/main/resources/db/migration/V115__add_write_to_us_address_for_Ipswich_Court.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-411

#415 FACT-388 - Enable fuzzy matching for court search
  charts/fact-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/CourtsEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/CourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/PostcodeValidator.java
  src/main/resources/db/migration/V116__enable_fuzzy_matching_search.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/CourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/PostcodeValidatorTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-415

#416 FACT-602 - Remove money claims area of law from Middlesbrough County Court
  src/main/resources/db/migration/V117__remove_money_claims_from_middlesbrough_court.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-416

#417 FACT-712 - Add admin endpoints for reading and updating Court addresses and address types
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/list/AdminAddressTypeEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/AddressTypeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtAddressRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtOpeningTimeController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAddressTypeController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/AddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AddressTypeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtAddressRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtEmailService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAddressTypeService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtOpeningTimeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminAddressTypeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAddressTypeServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/AddressTypeTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-417
