Repository hmcts/fact-api, pull requests merged in 2022-06, with the labels that each got.

#653 Fact 1119
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtApplicationUpdateEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtApplicationUpdateController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtApplicationUpdateRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtApplicationUpdateService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V161__update_admin_audittype.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtApplicationUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/entity/ApplicationUpdateTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/ApplicationUpdateTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtApplicationUpdateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-653

#662 Fact 1184
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V162__update_spoe_courts.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-662

#661 adding common platform flag
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtGeneralInfoEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/InPerson.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/main/resources/db/migration/V163__add_comon_platform_flag.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-661

#664 FACT-1197: Adding db migration to update additional info for all courts
  .github/dependabot.yml
  build.gradle
  renovate.json
  src/main/resources/db/migration/V164__change_additional_info_message_2.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-664
