Repository hmcts/fact-api, pull requests merged in 2022-10, with the labels that each got.

#716 FACT-1178 changed exceptions to return json instead of string
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtPostcodeEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAdditionalLinkControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtApplicationUpdateControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtContactControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtEmailsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtFacilityControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtLocalAuthoritiesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtOpeningTimeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtPostcodeControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtSpoeAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtTypesAndCodesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-716

#718 FACT-1178 fixed api toString issue
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtPostcodeEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtPostcodeControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-718

#719 adding fact viewer to roles
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtLocalAuthoritiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtPostcodeController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtTypesAndCodesController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/list/AdminLocalAuthoritiesController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminRole.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-719

#720 remove court urgent message
  src/main/resources/db/migration/V175__update_court_urgent_message.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-720

#721 FACT-1244 changed sql to use first word as first search criteria
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-721
