Repository hmcts/fact-api, pull requests merged in 2022-03, with the labels that each got.

#592 Fact 1057 service areas
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminServiceAreaEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsController.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminServiceAreaController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/NewCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/ServiceAreaService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/resources/db/migration/V147__update_default_for_catchment_type.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtsControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminServiceAreaControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceAreaServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-592

#599 updating java version to latest
  charts/fact-api/Chart.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-599

#602 FACT-880: Adding db migration to add financial remedy to search_servi…
  src/main/resources/db/migration/V148__add_service_area_financial_remedy.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-602
