Repository hmcts/fact-api, pull requests merged in 2022-07, with the labels that each got.

#671 Fact 1197
  charts/fact-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V165__change_additional_info_message_3.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-671

#663 Fact 500
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/ServiceAreaSearchFactory.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Action.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/ServiceAreaSearchFactoryTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/ActionTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-663

#672 Update Chart.yaml
  charts/fact-api/Chart.yaml
  charts/fact-api/values.preview.template.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-672

#673 updating build gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:fact, prd:fact, rel:fact-api-pr-673
