Repository hmcts/fact-api, pull requests merged in 2022-11, with the labels that each got.

#723 fixing incident
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-723

#731 increased explanation field length
  src/main/resources/db/migration/V176__update_contact_explanation_field.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-731

#730 FACT-1257 adding api changes for family and tribunal court codes
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/deprecated/OldCourt.java
  src/main/java/uk/gov/hmcts/dts/fact/util/CourtType.java
  src/main/resources/db/migration/V176__add_courtcode_locationcode.sql
  src/test/resources/court-types-and-codes.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-730

#732 FACT-1256 fixed issue with 2 V176 db changes
  src/main/resources/db/migration/V177__add_courtcode_locationcode.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-732
