Repository hmcts/fact-api, pull requests merged in 2022-12, with the labels that each got.

#734 fixed CVE-2022-41946
  build.gradle
Labels: ns:fact, prd:fact, rel:fact-api-pr-734

#735 FACT-1269 added migration for medway court postcode change
  src/main/resources/db/migration/V178__update_medway_postcode.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-735

#733 remove start up warnings
  README.md
  src/main/java/uk/gov/hmcts/dts/fact/entity/AdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/AreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Audit.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ContactType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAdditionalLink.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAreaOfLawSpoe.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtContact.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtDxCode.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtEmail.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtFacility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtLocalAuthorityAreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtOpeningTime.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtPostcode.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtSecondaryAddressType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Email.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/EmailType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Facility.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/FacilityType.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/OpeningTime.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/OpeningType.java
  src/main/resources/application.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-733

#737 FACT-1257 fixed issue of not clearing court codes for api
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtTypesAndCodesService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-737

#738 add renovate.json
  .github/dependabot.yml
  build.gradle
  config/owasp/suppressions.xml
  renovate.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-738

#740 Online Civil Money Claims Service Centre retro fix
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/main/resources/db/migration/V181__add_money_claims_service_areas.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-740
