Repository hmcts/fact-api, pull requests merged in 2022-08, with the labels that each got.

#681 updating audit tests
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AuditRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminAuditService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminAuditServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-681

#683 adding transactional and clearing existing audit entries
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AuditRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-683

#684 Fact 1065 fix tests
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AuditRepository.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-684

#675 FACT-1224 added owasp sanitizer for facilities
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-675

#685 FACT-1225 replaced striphtml with owaspsanitizer
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-685

#686 Fact 500b
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/config/WebConfiguration.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Action.java
  src/main/java/uk/gov/hmcts/dts/fact/util/ActionConverter.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/ServiceAreaSearchFactoryTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/ActionTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-686

#692 adding migration to point towards new address
  src/main/resources/db/migration/V167__address_types_2.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-692

#693 Fact 1228 3
  src/main/resources/db/migration/V168__address_types_3.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-693

#694 Fact 1228 3
  src/main/resources/db/migration/V169__address_types_4_and_civil_aol.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-694

#696 Fact 1228 3
  src/main/resources/db/migration/V170__address_types_5.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-696

#698 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-698
