Repository hmcts/fact-api, pull requests merged in 2022-01, with the labels that each got.

#551 Fact 980
  build.gradle
  src/main/java/uk/gov/hmcts/dts/fact/html/sanitizer/OwaspHtmlSanitizer.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/test/java/uk/gov/hmcts/dts/fact/html/sanitzer/OwaspHtmlSanitizer.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-551

#554 Fact 947 - Duplicate display name bug
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-554

#557 FACT-947b
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/list/AdminAreasOfLawService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-557

#558 update readme
  README.md
Labels: ns:fact, prd:fact, rel:fact-api-pr-558

#555 Fact 1029
  src/main/resources/db/migration/V141__add_partial_postcodes_to_court_catchment_areas.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-555

#563 updating logic to reflect updates to business roles around box being …
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-563

#564 Revert "updating logic to reflect updates to business roles around box being …"
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-564

#565 Fact 1061 changes
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtGeneralInfoEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/main/resources/db/migration/V142__amend_search_inperson_table.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-565
