Repository hmcts/fact-api, pull requests merged in 2022-02, with the labels that each got.

#567 adding spoe ares of law endpoints
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtSpoeAreaOfLawEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtSpoeAreasOfLawController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAreaOfLawSpoe.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/SpoeAreaOfLaw.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtAreaOfLawSpoeRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtSpoeAreasOfLawService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/AuditType.java
  src/main/resources/db/migration/V143__add_admintype_entries_for_updating_court._spoe_areas_of _law.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtSpoeAreasOfLawControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtSpoeAreasOfLawServiceTest.java
  src/test/resources/court-spoe-areas-of-law.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-567

#572 Fact 1091 - Removing regional divorce centres from search results
  src/main/resources/db/migration/V144__remove_regional_centres_from_divorce_search_results.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-572

#576 Fact 1115
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-576

#573 adding table for service centre info
  build.gradle
  charts/fact-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtGeneralInfoEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceCentre.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/ServiceCentre.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtGeneralInfo.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/main/resources/db/migration/V145__service_centre_details.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtGeneralInfoControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-573

#581 updating further dependencies
  build.gradle
Labels: ns:fact, prd:fact, rel:fact-api-pr-581

#584 Update chart to new release
  charts/fact-api/Chart.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-584

#588 Fact 1121 2
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtGeneralInfoEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtsEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/html/sanitizer/OwaspHtmlSanitizer.java
  src/main/resources/db/migration/V146__update_court_alert_datatype.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-588
