Repository hmcts/fact-api, pull requests merged in 2022-05, with the labels that each got.

#636 FACT-1040: Amending PUAS flag access level
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtGeneralInfoServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-636

#638 amend court description field
  src/main/resources/db/migration/V154__update_address_description_for_court_address.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-638

#650 change renovate
  .github/renovate.json
Labels: ns:fact, prd:fact, rel:fact-api-pr-650

#643 adding county field to court addresses
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/integrationTest/resources/deprecated/aylesbury-magistrates-court-and-family-court.json
  src/main/java/uk/gov/hmcts/dts/fact/entity/County.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/County.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CountyRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCountyService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/resources/db/migration/V155__add_county_table.sql
  src/main/resources/db/migration/V156__county_migration_for_ existing_addresses.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/deprecated/CourtWithDistanceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCountyServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-643

#652 fix bug
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtAddressTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-652

#655 adding sql to remove double spaces
  build.gradle
  charts/fact-api/Chart.yaml
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V157__replace_address_spaces.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-655

#657 removing extra spaces from welsh addresses
  src/integrationTest/resources/deprecated/aylesbury-magistrates-court-and-family-court.json
  src/main/resources/db/migration/V158__replace_address_spaces_cy.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-657

#654 adding county list endpoint
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCountyEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CountyRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCountyController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCountyService.java
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCountyControllerTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-654

#642 FACT-1151: Adding migration to add intros to existing service centres…
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceArea.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/ServiceCentre.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/ApplicationUpdate.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/AreasOfLawRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/java/uk/gov/hmcts/dts/fact/util/Utils.java
  src/main/resources/db/migration/V159__add_intro_para_to_service_centres.sql
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/ApplicationUpdateTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/ServiceAreaServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/util/UtilsTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-642

#659 migration to fix data issue
  src/main/resources/db/migration/V160__fix_add_intro_para_to_service_centres.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-659
