Repository hmcts/fact-api, pull requests merged in 2023-02, with the labels that each got.

#748 fix failing test
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminAuditService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtPostcodeServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-748

#742 FACT-1193 return open courts by default, use includeClosed boolean param to get open/closed courts
  src/functionalTest/java/uk/gov/hmcts/dts/fact/SearchEndpointTest.java
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/dts/fact/repositories/ServiceAreaRepositoryTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/SearchController.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReferenceWithDistance.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtWithDistanceRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/CourtService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/CivilSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/DefaultSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FallbackProximitySearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FamilyNonRegionalSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/FamilyRegionalSearch.java
  src/main/java/uk/gov/hmcts/dts/fact/services/search/Search.java
  src/main/resources/db/migration/V185__test_data_includeClosed.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/SearchControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/CourtServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/CivilSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/DefaultSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FallbackProximitySearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FamilyNonRegionalSearchTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/search/FamilyRegionalSearchTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-742

#750 update readme
  README.md
Labels: ns:fact, prd:fact, rel:fact-api-pr-750

#751 remove court facility sort byy order for admin portal
  charts/fact-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtFacilityEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtFacilityServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-751

#752 disable audit tests
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminAuditEndpointTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-752

#743 Fact 1117
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminRegionEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminRegionController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/Region.java
  src/main/java/uk/gov/hmcts/dts/fact/mapit/MapitData.java
  src/main/java/uk/gov/hmcts/dts/fact/model/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtReference.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/Region.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtAddressRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/RegionRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/MapitService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminRegionService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/main/resources/db/migration/V162__update_spoe_courts.sql
  src/main/resources/db/migration/V186__add_region_table.sql
  src/main/resources/db/migration/V187__add_court_regions.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminRegionControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/mapit/MapitDataTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtReferenceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/RegionTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminRegionServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-743

#753 update medway county lat and lon values
  src/main/resources/db/migration/V188__update_medway_lat_and _lon.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-753

#755 resolve CVE-2022-45688
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:fact, prd:fact, rel:fact-api-pr-755
