Repository hmcts/fact-api, pull requests merged in 2023-10, with the labels that each got.

#778 Update Chart.yaml
  charts/fact-api/Chart.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-778

#780 make Maintenance Enforcement Business Centre not in person
  build.gradle
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V197__make_maintenance_enforcement_centre_not_in_person.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-780

#779 adding flex db for fact
  build.gradle
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/variables.tf
Labels: ns:fact, prd:fact, add-or-update, rel:fact-api-pr-779
