Repository hmcts/fact-api, pull requests merged in 2024-10, with the labels that each got.

#831 FACT-1903 api changes for epim id
  README.md
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/InvalidEpimIdException.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtForDownload.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/ValidationService.java
  src/main/resources/db/migration/V208__add_new_column_epim_id.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtForDownloadTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/ValidateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-831

#833 Revert "FACT-1903 api changes for epim id (#831)"
  README.md
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/InvalidEpimIdException.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtForDownload.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/ValidationService.java
  src/main/resources/db/migration/V208__add_new_column_epim_id.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtForDownloadTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/ValidateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-833

#834 FACT-2050 fix bug
  src/main/resources/db/migration/V208__add_new_column_epim_id.sql
  src/main/resources/db/migration/V209__fix_null_issue.sql
Labels: ns:fact, prd:fact, rel:fact-api-pr-834
