Repository hmcts/fact-api, pull requests merged in 2024-11, with the labels that each got.

#832 FACT-1903 epim api changes
  README.md
  src/functionalTest/java/uk/gov/hmcts/dts/fact/admin/AdminCourtAddressEndpointTest.java
  src/main/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressController.java
  src/main/java/uk/gov/hmcts/dts/fact/entity/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/dts/fact/exception/InvalidEpimIdException.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/model/CourtForDownload.java
  src/main/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddress.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
  src/main/java/uk/gov/hmcts/dts/fact/services/validation/ValidationService.java
  src/main/resources/db/migration/V210__alter_column_epim_id.sql
  src/test/java/uk/gov/hmcts/dts/fact/controllers/admin/AdminCourtAddressControllerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/exception/GlobalControllerExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/CourtForDownloadTest.java
  src/test/java/uk/gov/hmcts/dts/fact/model/admin/CourtAddressTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressServiceTest.java
  src/test/java/uk/gov/hmcts/dts/fact/services/validation/ValidateServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-832

#838 FACT-1903 sonar fixes
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminCourtAddressService.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-838

#837 update packages
  build.gradle
  charts/fact-api/Chart.yaml
  docker/database/Dockerfile
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/state.tf
  src/main/java/uk/gov/hmcts/dts/fact/launchdarkly/LaunchDarklyClient.java
  src/test/java/uk/gov/hmcts/dts/fact/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:fact, prd:fact, aat/add-or-update, prod/add-or-update, rel:fact-api-pr-837

#840 update test to resolve sonar qube issue
  src/test/java/uk/gov/hmcts/dts/fact/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-840

#841 FACT-1784 - fixes court deletion
  src/main/java/uk/gov/hmcts/dts/fact/entity/Court.java
  src/main/java/uk/gov/hmcts/dts/fact/repositories/CourtLocalAuthorityAreaOfLawRepository.java
  src/main/java/uk/gov/hmcts/dts/fact/services/admin/AdminService.java
  src/test/java/uk/gov/hmcts/dts/fact/services/admin/AdminServiceTest.java
Labels: ns:fact, prd:fact, rel:fact-api-pr-841
