Repository hmcts/fact-api, pull requests merged in 2024-04, with the labels that each got.

#803 disabled fortify
  Jenkinsfile_nightly
  build.gradle
Labels: ns:fact, prd:fact, rel:fact-api-pr-803

#804 update dependencies
  .github/workflows/swagger.yaml
  build.gradle
  charts/fact-api/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:fact, prd:fact, rel:fact-api-pr-804, aat/add-or-update

#807 updated connection to app insights
  Dockerfile
  charts/fact-api/Chart.yaml
  charts/fact-api/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:fact, prd:fact, rel:fact-api-pr-807
